---
import { Image } from 'astro:assets';
---

<div class="logo-container">
  <div class="site-logo">
    <a href="/">
      <Image 
        src="/assets/se.png"
        alt="Site Logo"
        width={40}
        height={40}
        loading="eager" 
        decoding="sync"
      />
    </a>
    <a href="/about" class="dao-link">
      <Image 
        src="/assets/dao.png"
        alt="About"
        width={40}
        height={40}
        loading="lazy" 
        decoding="sync"
      />
    </a>
    <a href="/rss.xml" class="rss-link">
      <Image 
        src="/assets/rss.png"
        alt="RSS Feed"
        width={40}
        height={40}
        loading="lazy" 
        decoding="sync"
      />
    </a>
  </div>
</div> 